*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    background-color: rgb(236, 202, 221);
}
.container{
    display: flex;
margin-top: 235px;
margin-left: 100px; 
margin-right: 100px;
gap: 150px;
}
img{
    width: 350px;
    height: 330px;
    border: 20px;
    border-radius: 15px;
    border: 2px solid black;


}
.texto{
    margin-top: 40px;
    gap: 220px;
}
h1{
    font-size: 60px;
}
h2{
font-size: 25px;
margin-top: 10px;
margin-bottom: 10px;
}
p{
    font-size: 30px;
}
button{
    margin-top: 10px;
height: 35px;
width: 80px;
border-radius: 10px;
border: 1px;

}
button:hover{

    background-color: blueviolet;
    color: black;
} 

@media screen and (max-width:768px){
    .container{
        flex-direction: column;
      align-items: center;
      margin-top:0px;
      margin-bottom: 10px;

    }
    h1{
        font-size: 60px;
        h1{
            font-size: 10px;
        }
}